@model ControleVendas.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">Detalhes do Produto</h1>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nome)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Preco)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.Preco)</dd>
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.quantidade)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.quantidade)</dd>
                        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.HoraCriacao)</dt>
                        <dd class="col-sm-9">@Html.DisplayFor(model => model.HoraCriacao)</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.ProdutoID" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
</div>
